<!DOCTYPE html>
<html lang="en" ng-app="mooc">
<head>
	<!-- basic -->
	<meta charset="utf-8">
	<title>mooc</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
	<link rel="stylesheet" href="mooc.css">

	<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body ng-controller="moocCtrl" class="ng-cloak">
	<div class="container">
		<div id="icons" class="row-fluid">
			<a ng-repeat="service in availableServices" service="service" imgs="imgs" id="{{service}}A" class="serviceA" ng-click="addService(service)">
				<img ng-hide="hiding[service]" id="{{service}}" class="header-icon grayscale unloaded" ng-src="{{imgs[service]}}">
				<img ng-if="hiding[service]" class='header-loading' src="img/loading.gif">
			</a>
		</div>
		<div class="row">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="search {{printServices()}}..." ng-model="searchText">
		    	<span class="input-group-btn">
		    		<button id="searchButton" class="btn btn-default" type="button" ng-click="doSearch(searchText)"><span class="glyphicon glyphicon-search"></span></button>
		    	</span>
		    </div>
			<!--<input id="slider" data-slider-id='timeSlider' type="text" data-slider-min="1" data-slider-max="30" data-slider-step="1" data-slider-value="12"/>-->
		</div>

		<!--loop-->
		<result-loop ng-repeat="result in results | orderBy:'rank' | filter: durationFilter()" result="result"></result-loop>


	</div>
	<!-- ================================================== -->

	<!-- javascript -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>
	<script>
        function loadGapi(){
        	var apiKey = 'AIzaSyBX89GYOcYYzMRuEyslYgqPXscPLrjsFlw';
        	gapi.client.setApiKey(apiKey);
        	gapi.client.load('youtube', 'v3').then(function() {
				console.log('youtube ready...');
				$('#youtube').removeClass('unloaded');
			});
    	}
	</script>	
	<script src="https://apis.google.com/js/client.js?onload=loadGapi"></script>
	<script src="js/mooc.js"></script>
	<script src="js/services/khanService.js"></script>
	<script src="js/services/redditService.js"></script>
	<script src="js/services/wikipediaService.js"></script>
	<script src="js/services/youtubeService.js"></script>
	<script src="js/services/courseraService.js"></script>
	<script src="js/services/edxService.js"></script>
	<script src="js/services/twitterService.js"></script>
	<script src="js/services/aggregateService.js"></script>
	<script src="js/controllers/moocCtrl.js"></script>
	<script src="js/directives/resultDir.js"></script>
	
</body>
</html>
